doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title MWF Ltd - Stock Management
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css")
    link(rel="stylesheet", href="/css/stockList.css")
  body
    .container
      // Sidebar
      .sidebar
        .logo
          h2 Mayondo Wood & Furniture Ltd
        ul.nav-links
          li
            a(href="/manager")
              i.fas.fa-home
              | Dashboard
          li
            a(href="/stock")
              i.fas.fa-boxes
              | Record Stock
          li.active
            a(href="/stockList")
              i.fas.fa-list
              | Product List
          li
            a(href="/orderStock")
              i.fas.fa-truck
              | Order Stock
          li
            a(href="/user")
              i.fas.fa-users
              | Users

      // Main Content
      .main-content
        .header
          h1 Stock Management
          .user-info
            div
              h3 Tee Mwangi
              p Manager
            img(src="/imgs/Beauty.png", alt="User")

        // Stock Summary Cards
        .stock-summary
          .summary-card.card-primary
            i.fas.fa-boxes
            h3= totalProducts || 0
            p Total Products
          .summary-card.card-success
            i.fas.fa-check-circle
            h3= inStock || 0
            p In Stock
          .summary-card.card-warning
            i.fas.fa-exclamation-triangle
            h3= lowStock || 0
            p Low Stock
          .summary-card.card-danger
            i.fas.fa-times-circle
            h3= outOfStock || 0
            p Out of Stock

        // Stock Table
        .stock-table-container
          table.stock-table
            thead
              tr
                th Product Name
                th Type
                th Cost Price
                th Selling Price
                th Supplier
                th Contact
                th Quality
                th Color
                th Actions
            // safeguard if items is undefined
            tbody#stockTableBody
              if items && items.length
                each item in items
                  tr
                    td #{item.productName}
                    td #{item.productType}
                    td #{item.costPrice}
                    td #{item.sellingPrice}
                    td #{item.supplierName}
                    td #{item.supplierContact}
                    td #{item.quality}
                    td #{item.color}
                    td
                      a(href=`/stockList/edit/${item._id}`) Edit
                      |  |  
                      form(action=`/stockList/${item._id}?_method=DELETE`, method="POST", style="display:inline")
                        button(type="submit") Delete
