doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title User Management
    link(rel="stylesheet" href="/css/user.css") 
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css")
  body
    .container
      // Sidebar 
      .sidebar
        .logo
          h2 Mayondo Wood & Furniture Ltd
        ul.nav-links
          li
            a(href="/manager")
              i.fas.fa-home
              | Dashboard
          li
            a(href="/stock")
              i.fas.fa-boxes
              | Record Stock
          li
            a(href="/stockList")
              i.fas.fa-list
              | Product List    
          li
            a(href="/orderStock")
              i.fas.fa-truck-loading
              | Order Stock
          li.active
            a(href="/user")
              i.fas.fa-users
              | Users
          li.active
            a(href="/signup")
              i.fas.fa-users
              | Register User    
          li.logout
            a(href="/logout")
              i.fas.fa-sign-out-alt
              | Logout  
      // Main Content 
      .main-content
        // Header
        .header
          h1 User Management
          .user-info
            div
              h3 #{currentUser.firstName} #{currentUser.lastName}
              p #{currentUser.role.charAt(0).toUpperCase() + currentUser.role.slice(1)}
            img(src="/imgs/Beauty.png", alt="User")

        // Users Table
        .table-container
          table.data-table
            thead
              tr
                th Name
                th Email
                th Role
                th Status
                th Last Login
                th Actions
            tbody
              if !users || users.length === 0
                tr
                  td(colspan="6") No users found.
              else
                each user in users
                  tr
                    td #{user.firstName} #{user.lastName}
                    td #{user.email}
                    td
                      span.role(class=user.role) #{user.role ? user.role.charAt(0).toUpperCase() + user.role.slice(1) : 'N/A'}
                    td
                      span.status(class=user.status) #{user.status ? user.status.charAt(0).toUpperCase() + user.status.slice(1) : 'N/A'}
                    td #{user.lastLogin ? user.lastLogin.toLocaleString() : 'Never'}
                    td
                      .action-buttons
                        a.btn-edit(href=`/user/edit/${user._id}`) 
                          i.fas.fa-edit 
                          |  Edit
                        form(action=`/user/delete/${user._id}`, method="POST", style="display:inline")
                          button.btn-delete(type="submit")
                            i.fas.fa-trash
                            |  Delete
